* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

#logo {
  height: 80px;
  width: 450px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-right: 5px;
}

.row a {
  color: black;
  text-decoration: none;
  margin: 0 0.3rem;
}

.row a:hover {
  color: #b7202e;
}

#trust {
  height: 50px;
  width: 100px;
  margin-right: 20px;
}

button {
  border: 0.3px solid #58595b;
  background-color: #ffffff;
}

/* animation for waves */
.header {
  position: relative;
  text-align: center;
  color: white;
}

.logo {
  width: 50px;
  fill: white;
  padding-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.inner-header {
  height: 65vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* horizontal line */
#HR {
  border: dotted #9B0000 6px;
  opacity: 100%;
  border-bottom: none;
  width: 40%;
  display: flex;
  justify-content: center;
  margin: auto;
}

.menubar {

   background: #c1c1c1;
  text-align: center;
  height: 50px;
  padding-top: 10px;
}

.menubar ul {
  display: inline-block;
  list-style: none;
  color: #ffffff;
  margin-right: 20px;
}

.menubar ul li {
  margin: 0 auto;
  padding: 10px;
  display: inline-block;
}

.menubar ul li a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  padding-top: auto;
  color:black;
  font-weight: bold;
}

.menubar ul li:hover {
  background: #ffffff;
  border-radius: 1px;
}

.submenu1 {
  display: none;
}

.menubar ul li:hover .submenu1 {
  display: block;
  position: absolute;
background: #d1d1d1;
  margin-top: 10px;
  margin-left: -10px;
  z-index: 1;
}

.menubar ul li:hover .submenu1 ul {
  display: flex;
  flex-direction: column;
  z-index: 3000;
}

.menubar ul li:hover .submenu1 ul li a {
  width: 150px;
  padding: 5px;
  background: transparent;

  text-align: left;
  position: relative;
}

.submenu2 {
  display: none;
}

.hoverme:hover .submenu2 {
  position: absolute;
  display: block;
  margin-top: -36px;
  margin-left: 195px;
   background: #EFEFEF;

  padding-left: 3px;
  padding-right: 3px;
  width: 100%;

}
.submenu3 {
  display: none;
}

.hoverme:hover .submenu3 {
  position: absolute;
  display: block;
  margin-top: -36px;
  margin-left: 220px;
   background: #EFEFEF;

  padding-left: 3px;
  padding-right: 3px;
  width: 100%;

}

.divide1
{
    background-color: #9B2928;
    height:10px;
    z-index: -1;

}
.divide
{
  background-color: #9B2928;
  height:10px;
  z-index: 10000;
}

.main {
  font-family: 'Poppins', sans-serif;

  width: 1000px;
  display: block;
  margin: 0 auto;
  text-decoration: none;
  text-decoration-style: solid;
}
h3 a{
  text-decoration: none;
  color: #f0ebe3;
}
h3 a:hover{
  color:  #f0ebe3;
}
h3 {
background: rgb(155,41,40);
background: radial-gradient(circle, rgba(155,41,40,1) 75%, rgba(84,18,18,1) 95%);
  border-radius: 15px;
  color:  #f0ebe3;
  font-size: 36px;
  line-height: 50px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}
h4 a{
  text-decoration: none;
  color:  #f0ebe3;
}
h4 a:hover{
  color:  #f0ebe3;
}
h4 {
background: rgb(155,41,40);
background: radial-gradient(circle, rgba(155,41,40,1) 75%, rgba(84,18,18,1) 95%);
  border-radius: 15px;
  color:  #f0ebe3;
  font-size: 36px;
  line-height: 50px;
  margin: 10px;
  padding: 2%;
  position: relative;
  text-align: center;
}
.action {
  display: block;
  margin: 100px auto;
  width: 100%;
  text-align: center;
}

.action a {
  display: inline-block;
  padding: 5px 10px;
  background: #9b2928;
  color: #fff;
  text-decoration: none;
  /* border-radius: 50px; */
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.action a:hover {
  background: #541212;
  color: #ffffff;
  text-decoration: none;
}

/* .slider-nav {
  
} */

.slick-next:before, [dir=rtl] .slick-prev:before {
  content: '→';
}

.slick-next:before, .slick-prev:before {
  font-size: 20px;
  line-height: 1;
  opacity: .75;
  color: #9b2928;
}
.footer {
  width: 100%;
  height: 100px;
  background-color: #9B2928;
}
/* .color
{
   background-color: #FFFAE7;
} */
#one{
  text-decoration: none;
}
footer
{
  background:#9B2928;
  height: auto;
  width: 100vw;
  font-family: 'Poppins', sans-serif;
  padding-top: 20px;
  color: white;
  padding-bottom: 13px;
}

.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.footer-content h6{

  
  line-height: 1rem;
}
.footer-content p{

  margin: 10px auto;
  line-height: 10px;
 
}
